body {
  font-family: 'Poppins', sans-serif;
  background: #001049;
  color: white;
  margin: 0;
  padding: 0;
}

/* Navigasi */
nav {
  text-align: center;
  padding: 20px 0;
}
nav ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
  padding: 0;
}
nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 15px;
  transition: 0.3s;
}
nav ul li a:hover,
nav ul li a.active {
  background: #4aa8ff;
  color: #000;
}

/* Halaman Home */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
  flex-wrap: wrap;
}

.hujan{
  font-size: 30px;
  color: cadetblue;
}

.payung{
  font-size: 35px;
}

.air{
  font-size: 30px;
  color: cadetblue;
}

.home .text {
  max-width: 600px;
}
.home img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 6px solid #2071ff;
}

/* About */
.about {
  padding: 0;
  text-align: left;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.about-text{
  color: cadetblue;
  font-family:'Franklin Gothic Medium';
}

/* Skills */
.skills .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  justify-content: center;
  padding: 80px;
}
.skills img {
  width: 150px;
  border-radius: 10px;
  transition: 0.3s;
}
.skills img:hover {
  transform: scale(1.1);
}

/* Works */
.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  gap: 50px;
  padding: 80px;
}
.work-box {
  width: 300px;
  background: #0456c4;
  padding: 30px;
  justify-content: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  align-items: center;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 80px;
}
.contact-item {
  background: #4aa8ff;
  padding: 20px 40px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
}
.contact-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
